/* Override Bootstrap and Astroid Variables Here */
$primary:				#02aed6 !default;
$secondary:				#333333 !default;

// Custom Button
$btn-border-radius:     0  !default;
$btn-padding-y:         10px !default;
$btn-padding-x:         20px !default;


$btn-border-radius-sm:	0 !default;

$btn-border-radius-lg:	0 !default;
$btn-padding-y-lg:		10px !default;
$btn-padding-x-lg:		40px !default;