/*----- Module Title -----*/
.moduletable {

	.module-title,
	.split-title {
		font-size: 32px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 40px;
	}
}

.intro-text {
	@include media-breakpoint-up(lg) {
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	p {
		margin: 0 0 10px;
		padding: 10px 0;
	}
}