#sc_our_team a,
.sc_our_team_lightbox .name,
.sc_personal_quote span.sc_team_icon-quote-left,.sc-team-member-posts a{ color: #1F7DCF; }
.honeycombs .inner_span{ background-color: #37C2E5; }
.grid#sc_our_team .sc_team_member .sc_team_member_name,
.grid#sc_our_team .sc_team_member .sc_team_member_jobtitle,
.grid_circles#sc_our_team .sc_team_member .sc_team_member_jobtitle,
.grid_circles#sc_our_team .sc_team_member .sc_team_member_name,
#sc_our_team_lightbox .progress,
.sc_our_team_panel .sc-right-panel .sc-name,
#sc_our_team .sc_team_member .icons span,
.sc_our_team_panel .sc-right-panel .sc-skills .progress,
#sc_our_team_lightbox .sc_our_team_lightbox .social span,
.sc_team_single_member .sc_team_single_skills .progress,
.sc-tags .sc-single-tag{ background: #1F7DCF;}
.sc_our_team_lightbox.honeycomb .progress{ background: #37C2E5 !important;}
.stacked#sc_our_team .smartcat_team_member{ border-color: #1F7DCF;}
.grid#sc_our_team .sc_team_member{ padding: 5px;}
.sc_our_team_lightbox.honeycomb .name{ color: #37C2E5; }
.sc_team_member .sc_team_member_name{ font-size: 18px !important}
.sc_team_member .sc_team_member_jobtitle{ font-size: 18px !important}

div.dataTables_wrapper table.sc-team-table thead tr{ background: #1F7DCF}
div.dataTables_wrapper table.sc-team-table thead th{ background-color: #1F7DCF}
#sc_our_team div.dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.current{ background: #1F7DCF; }
#sc_our_team_lightbox .sc_our_team_lightbox { margin-top:10%; }
@media( min-width: 480px ){
	.sc_our_team_panel{ margin-top: 0px; }
	.sc_team_icon-facebook,.sc_team_icon-twitter,.sc_team_icon-twitter,.sc_team_icon-google-plus,.sc_team_icon-pinterest-p,.sc_team_icon-envelope-o,.sc_team_icon-phone{background: #1f7dcf none repeat scroll 0 0;}	

}

.sc_team_icon-close{display:block!important;}
.sc-image,.sc-left-panel .sc-social .sc_team_icon-facebook,.sc-left-panel .sc-social .sc_team_icon-twitter,.sc-left-panel .sc-social .sc_team_icon-google-plus,.sc-left-panel .sc-social .sc_team_icon-pinterest-p,.sc-left-panel .sc-social .sc_team_icon-envelope-o,.sc-left-panel .sc-social .sc_team_icon-phone,.honeycomb-lightbox .sc_team_icon-quote-left,.honeycomb-lightbox .sc_personal_quote_content{display:block!important;}
